lab11/xml3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="BODY">
        <xs:complexType>
			<xs:sequence>
                <xs:element name="HED">
                    <xs:complexType>
						<xs:sequence>
                            <xs:element name="to" type="string "/>
                            <xs:element name="from" type="string "/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="SMTH">
                    <xs:complexType>
			            <xs:sequence>
                            <xs:element name="main" type="string "/>
                            <xs:element name="cells" type="string "/>
                            <xs:element name="cells" type="string "/>
                            <xs:element name="cells" type="string "/>
                            <xs:element name="cells" type="string "/>
                            <xs:element name="cells" type="string "/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="epilogue" type="string "/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
                
                